body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;

}

.green-text {
    color:hsl(75, 94%, 57%);
    margin-block-end: 2.5em;
}

.container {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 1.5em;
    padding-block-start: 1.5em;
    color: white;
    border-radius: 7px;
    max-width: 220px;
}

.link-box {
    background-color: hsl(0, 0%, 20%);
    padding-inline: 4.5em;
    padding-block: 0.8em;
    border-radius: 5px;
    margin-block: 1.2em;
}

.link-box:hover {
    color: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
}

img {
    width: 75px;
    border-radius: 75%;
}

h1 {
    font-size: 1.3rem;
    color: hsl(0, 0%, 100%);
}

p {
    color:hsl(0, 0%, 100%);
    font-size: 0.7rem;
}

footer {
    margin-block-start: 3rem;
}


